/*  your css code here. If applicable */
#wrapper{
	display:flex;
	flex-direction: column;
	gap: 24px;
}
#acciojob{
	background-color: #626EE3;
	width: 75%;
}
#dsa{
	background-color: #890123;
	width: 50%;
	height: fit-content;
}
#mern{
	background-color:  #F37F1B;
	width: 30%;
	height: 75px;
}
#buisness-analytics{
	background-color: #12967E;
	width: 40%;
	height: fit-content;
	
}
#spring{
	background-color: #F21A3F;
	flex:1;
	height: 75px;
}
.row{
	display: flex;
	width: 100%;
	color: white;
	text-align: center;
}
.row1{
	justify-content: space-between;
	align-items: center;
}
.row2{
	width: 100%;
	justify-content: center;
}
.row3{
	gap: 10px;
	align-items: end;
}